{% include './include/dashboard_header.html' %}

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">控制台</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">首页</a></li>
              <li class="breadcrumb-item active" aria-current="page">控制台</li>
            </ol>
          </div>

          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">当前用户数</div>
                      <div class="h1 mb-0 font-weight-bold text-gray-800">{{ userCount }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">当前任务数</div>
                      <div class="h1 mb-0 font-weight-bold text-gray-800">{{ taskCount }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tasks fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- New User Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">本月执行数</div>
                      <div class="h1 mb-0 mr-3 font-weight-bold text-gray-800">{{ currentMonthCount }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-handshake fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">总计执行数</div>
                      <div class="h1 mb-0 font-weight-bold text-gray-800">{{ sumCount }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-bolt fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">执行数可视化</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">使用说明</h6>

                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <div class="small text-gray-1000">第一步：在账号管理中添加蘑菇丁账号
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="small text-gray-1000">第二步：在地址管理中添加你打卡地址
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="small text-gray-1000">第三步：在定时任务中添加你打卡的类型和时间
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="small text-gray-1000">第四步：在推送管理中添加你接收打卡后的信息(非必须)
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <!---Container Fluid-->
      </div>

      {% include 'include/dashboard_footer.html' %}